/* @tailwind base; */
@tailwind components;
@tailwind utilities;

img.banner-image {
    object-fit: cover;
    height: 328px;
    width: 100%;
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    filter: brightness(70%);
}

div.banner-content {
    min-height: calc(286px - 56px);
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 40px;
    z-index: -1;
}

div.doc-banner-content {
    min-height: calc(328px - 56px);
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 40px;
    z-index: -1;
}

@media (min-width: 600px) {
    div.banner-content {
        min-height: calc(286px - 64px);
    }

    div.doc-banner-content {
        min-height: calc(328px - 64px);
    }
}

.banner-element {
    display: grid;
    place-content: center;
}

.blog-list-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 1em;
}

@media (max-width: 600px) {
    .doc-list-container {
        padding: 0;
    }
}

.blog-list-list {
    width: 100%;
    min-height: 100vh;
    max-width: 793px;
}

.blog-list-list * {
    max-width: 100%;
}

.blog-code-area {
    font-family: 'Consolas', 'Courier New', monospace;
}
