/* @tailwind base; */
@tailwind components;
@tailwind utilities;

img.banner-image {
    object-fit: cover;
    height: 328px;
    width: 100%;
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    filter: brightness(70%);
}

div.banner-content {
    min-height: calc(286px - 56px);
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 40px;
    z-index: -1;
}

@media (min-width: 600px) {
    div.banner-content {
        min-height: calc(286px - 64px);
    }
}

.banner-element {
    display: grid;
    place-content: center;
}

.link-list-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 1em;
}

.link-card-img {
    position: absolute;
    display: flex;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    -webkit-mask-image: linear-gradient(90deg, rgba(0,0,0, .2) 50%,#000 70%, #000 100%);      
    -webkit-mask-size: 100% 100%;
    object-fit: cover;
    z-index: -1;
}

.link-list-list {
    width: 100%;
    min-height: 100vh;
    max-width: 793px;
}

@media (max-width: 600px) {
    .link-card-item {
      width: 80%;
    }
  }